server {
    listen 8080;
    server_name _;

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        try_files $uri $uri/ /index.html;
    }

    # Esta regla intercepta las peticiones a /api/ y las manda al Backend
    location /api/ {
        proxy_pass http://${BACKEND_HOST}:3001/api/;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}